@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    background-color: #ffffff;
    font-family: calibri;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  
    
  iframe {
    
    float: right;
    
  }
  
  
  .form-one {
     height: 150vh;
    display: -webkit-flex;
      display: flex;
      width: 100%;
  }
  
  
  .contact-form {
     width: 50%;
     background-color: rgb(255, 255, 255);
     position: absolute;
     height: 150vh;
     left: 0;
    margin-bottom: 0 !important;
   
  }
  .contact-info {
       width: 50%;
      background-color: #eee;
      margin-bottom: 0 !important;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    height: 150vh;
  }
  
  
  .contact-text {
    color: #262626;
        font-size: 1.647rem;
    font-weight: 700;
      line-height: 2.153rem;
      letter-spacing: 1.5px;
    text-align: left;
    position: absoulte;
    right: 0;
    left: 0;
    padding: 20px 20px 0 100px;
    text-transform: uppercase;
    font-family: 'oswald', sans-serif;
    width: 80%;
  }
  h4 {
        letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1rem; 
  }
  h2 {
        letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.6rem; 
  }
  .contact-one .contact-text h2 {
     margin: 0 0 20px 0;
  }
  .contact-one .contact-text h4 {
     margin: 0 0 20px 0;
  }
  .contact-two .contact-text h4 {
     margin: 0 0 20px 0;
  }
  
  .con-form-place {
    width: 50% !important;
    top: 0;
    margin-bottom: 0 !important;
    left: 0;
   float: left;
   Height: 100%;
   position: relative;
   left: 0;
  }
  .img-one {
    background-position: center center !important;
   background-repeat: no-repeat !important;
   background-size: cover !important;
    background-position: 50% 50%;
    width: 50vw;
    height: 220vh;
  }
  .contact-logo {
    background-position: center center !important;
   background-repeat: no-repeat !important;
   background-size: contin !important;
    height: 60vh;
    width: 60vh;
    margin: 0 auto;
    text-align: center;
    margin-top: -4%;
  }
  .hidden {
      visibility: show !important;
      display: block;
  }
  
  
   
  @media screen and (max-width: 767px) {
    .form-split {
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 200vh;
      margin: 0;
    }
  }
  
  @media (max-width: 767px) {
  .contact-form {
      width: 100% !important;
      height: 150vh !important;
        -webkit-flex: 1;
      flex: 1;
    }
  }
  @media (max-width: 767px) {
    .contact-info {
      width: 100% !important;
      height: 100vh !important;
      -webkit-flex: 2;
      flex: 2;
      margin-top: 100vh;
      
    }
  }
  
  @media (max-width: 767px) {
    .contact-text {
      padding: 60px;
      font-size: 20px;
      text-align: center !important;
      margin: 0 auto;
      width: 100%;
  
      }
  }
  @media (max-width: 767px) {
    .con-form-place {
  width: 100% !important; 
   left: 0; 
     float: left; 
     Height: 100vh !important; 
     position: absolute;
  
      }
  }
  @media (max-width: 767px) {
    .img-one {
  width: 100% !important; 
   left: 0; 
     background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: contain !important; 
     
     Height: 100vh !important; 
     position: absolute;
  
      }
  }
  @media only screen and (max-width: 767px) {
       .hidden {
           visibility: hidden !important;
         display: none !important;
    }
   }
  
  
  @media only screen and (max-width: 767px) {
  .contact-logo {
      height: 50vh;
      width: 50vh;
      margin-top: 8%;
     }
   }
  
  form {
    width: 80%;
    margin: 10% auto;
    min-width: 9rem;
  }
  
  input, textarea {
    float: left;
      width: 100%;
      max-width: 100%;
      border: none;
      margin: 0.8rem 0;
      padding: 1rem 0.5rem;
      border-radius: rem;
      background: none !important;
      color: #262626;
      background: none;
      border-bottom: 2px solid #262626;
      font-family: 'oswald', sans-serif;
      text-transform: uppercase;
       letter-spacing: 1.5px;
  }
  input[type=submit], textarea[type=submit] {
    background: #;
    color: #262626;
    width: auto;
    float: right;
  }
  input::placeholder, textarea::placeholder {
    color: #262626;
  }
  input.error, textarea.error {
    background: #262626;
    color: #fff;
  }
  input.error::placeholder, textarea.error::placeholder {
    color: black;
  }
  
  textarea {
    height: 10rem;
  }
  
  .captcha {
    float: left;
  }
  .captcha input {
    float: right;
  }
  .captcha input[name=question] {
    width: 4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: right;
    padding-right: 0;
  }
  .captcha [name=captcha] {
    width: 5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.5rem;
  }
  .captcha [name=captcha]::placeholder {
    text-align: center;
  }

  .wrapper {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
  }
  .slideshow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
  }
  .slideshow--hero {
    z-index: 3;
    left: 0;
    top: 50%;
    height: 85%;
    transform: translateY(-50%) skewY(-10deg);
    transform-origin: center;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  }
  .slideshow--hero .slides {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100vw;
    height: 100vh;
    animation: 11s slideshow-hero-mobile -3s infinite;
  }
  .slideshow--hero .slide1 {
    background-image: url(assets/img/5.jpg);
    animation: 20s slides-set-1 -0.1s infinite;
    
  }
  .slideshow--hero .slide2 {
    background-image: url(assets/img/15.jpg);
    animation: 20s slides-set-2 -0.1s infinite;
    
  }
  .slideshow--hero .slide3 {
    background-image: url(assets/img/8.jpg);
    animation: 20s slides-set-3 -0.1s infinite;
  }
  @media (min-width: 600px) {
    .slideshow--hero {
      left: 50%;
      top: 0;
      width: 67%;
      height: 100%;
      transform: translateX(-50%) skewX(-10deg);
    }
    .slideshow--hero .slides {
      top: 0;
      left: -25%;
      height: 100%;
      animation: 11s slideshow-hero -3s infinite;
    }
  }
  .slideshow--contrast {
    z-index: 1;
    width: 100%;
    height: 50%;
    transform: none;
  }
  .slideshow--contrast--before {
    left: 0;
  }
  .slideshow--contrast--before .slides {
    width: 100vw;
  }
  .slideshow--contrast--after {
    z-index: 2;
    left: auto;
    right: 0;
  }
  .slideshow--contrast--after .slides {
    width: 100vw;
    left: auto;
    right: 0;
  }
  .slideshow--contrast .slides {
    animation: 14s slideshow-contrast -5s infinite;
  }
  .slideshow--contrast .slide1 {
    background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(assets/img/5.jpg);
    animation: 20s slides-set-1 -0.2s infinite;
    
  }
  .slideshow--contrast .slide2 {
    background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(assets/img/15.jpg);
    animation: 20s slides-set-2 -0.2s infinite;
    
  }
  .slideshow--contrast .slide3 {
    background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(assets/img/8.jpg);
    animation: 20s slides-set-3 -0.2s infinite;
  }
  .slideshow--contrast--after {
    top: auto;
    bottom: 0;
  }
  .slideshow--contrast--after .slides {
    animation: 13s slideshow-contrast -13s infinite;
  }
  .slideshow--contrast--after .slide {
    background-position: right;
  }
  .slideshow--contrast--after .slide1 {
    animation: 20s slides-set-1 infinite;
  }
  .slideshow--contrast--after .slide2 {
    animation: 20s slides-set-2 infinite;
  }
  .slideshow--contrast--after .slide3 {
    animation: 20s slides-set-3 infinite;
  }
  @media (min-width: 600px) {
    .slideshow--contrast {
      width: 50%;
      height: 100%;
    }
    .slideshow--contrast--after {
      top: 0;
      bottom: auto;
    }
    .slideshow--contrast--after .slides {
      width: 50vw;
    }
  }
  .slides, .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @keyframes slideshow-hero-mobile {
    0% {
      transform: scale(1) skewY(10deg);
    }
    50% {
      transform: scale(1.05) skewY(10deg);
    }
    100% {
      transform: scale(1) skewY(10deg);
    }
  }
  @keyframes slideshow-hero {
    0% {
      transform: scale(1) skewX(10deg);
    }
    50% {
      transform: scale(1.05) skewX(10deg);
    }
    100% {
      transform: scale(1) skewX(10deg);
    }
  }
  @keyframes slideshow-contrast {
    0% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  @keyframes slides-set-1 {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    31% {
      opacity: 1;
      transform: scale(1);
    }
    34% {
      opacity: 0;
      transform: scale(1.05);
    }
    97% {
      opacity: 0;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes slides-set-2 {
    0% {
      opacity: 0;
      transform: scale(1.05);
    }
    31% {
      opacity: 0;
      transform: scale(1.05);
    }
    34% {
      opacity: 1;
      transform: scale(1);
    }
    64% {
      opacity: 1;
      transform: scale(1);
    }
    67% {
      opacity: 0;
      transform: scale(1.05);
    }
    100% {
      opacity: 0;
      transform: scale(1.05);
    }
  }
  @keyframes slides-set-3 {
    0% {
      opacity: 0;
      transform: scale(1.05);
    }
    64% {
      opacity: 0;
      transform: scale(1.05);
    }
    67% {
      opacity: 1;
      transform: scale(1);
    }
    97% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.05);
    }
  }
  
  
  @media only screen and (max-width: 880px) {
    .page {
      width: 100%;
      margin-top: 0px;
    }
  }
  
  header nav {
    width: 100%;
    background-color: #ffffff;
  }
  
  header nav .logo {
    width: 20%;
    text-align: center;
  }
  
  .logo {
    padding-top: 5px;
    padding-bottom: 5px;
    
    
  }

  header nav .logo li {
    padding: 0px 0px;
  }
  
  header nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
  header nav .links {
    font-size: 0;
    background-color: #ffffff;
    width: 80%;
    float: right;
  }
  
  header nav .links li {
    display: inline-block;
    width: 25%;
    font-size: 16px;
    text-align: center;
    height: 74px;
    line-height: 74px;
  }
  
  header nav .links li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #2f2f2f;
    font-weight: bold;
    font-family: Oswald;
    font-size: 24px;
  }
  
  header nav .links li:hover a {
    color: rgb(255, 255, 255);
  }
  
  header nav .links li:hover {
    background-color: #2f2f2f;
  }
  
  header .header-image {
    width: 100%;
  }
  
  header .header-image img {
    width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width: 768px) {
    header nav .logo li {
      padding: 0px 0px;
    }
    header nav .logo {
      width: 100%;
    }
    header nav .links {
      width: 100%;
      float: none;
    }
  }
  
  @media only screen and (max-width: 540px) {
    header nav .links li {
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
    }
  }
  
  main h1 {
    margin: 20px 0px 30px 0px;
  }
  
  main h2 {
    margin: 20px 0px 40px 0px;
  }
  
  main h3 {
    margin: 10px 0px;
  }
  
  main ul {
    list-style-type: none;
    font-size: 0;
  }
  
  main ul li {
    font-size: 16px;
  }
  
  main {
    margin: 40px 80px 0px 80px;
  }
  
  main hr {
    margin: 60px 0px;
  }
   
  main .secti on-2,
  .section-3 ul {
    display: block;
    height: auto;
    width: 100%;
  }
  
  main .section-2 ul li {
    display: inline-block;
    width: 33.33%;
    padding: 10px;
    vertical-align: top;
    overflow-y: hidden;
    
  }
  
  main .section-2 ul li .section-2-img {
    width: 100%;
  }
  
  main .section-2 ul li .section-2-content {
    width: 90%;
  }
  
  main .section-2 ul li .section-2-img img {
    width: 100%;
    height: 100%;
  }
  
  main .section-3 ul li {
    display: inline-block;
    width: 50%;
    padding: 10px;
    overflow-y: hidden;
    vertical-align: top;
    margin-bottom: 2rem;
  }
  
  main .section-3 ul li .section-3-vid {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 1rem;
  }
  
  main .section-3 ul li .section-3-content {
    width: 90%;
  }
  
  main .section-3 ul li .section-3-img img {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }
  
  main .section-3 ul li .section-3-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  main .section-3 ul li .section-3-content .button {
    border: 2px solid royalblue;
    padding: 8px;
    width: 140px;
    border-radius: 40px;
    margin-top: 20px;
    text-align: center;
    background-color: #fff;
     tarnsition: background-color 4s;
  }
  
  main .section-3 ul li .section-3-content .button:hover {
    background-color: royalblue;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    main .section-2 ul li {
      display: block;
      width: 100%;
      margin-bottom: 3rem;
    }
    main .section-3 ul li {
      display: block;
      width: 100%;
    }
    main .section-3 ul li .section-3-content .button {
      border: 2px solid royalblue;
      padding: 8px;
      width: 140px;
      border-radius: 40px;
      margin-top: 20px 0px 40px 0px;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 480px) {
    main .section-3 ul li .section-3-content .button {
      border: 2px solid royalblue;
      padding: 4px;
      width: 120px;
      font-size: 14px;
      margin-bottom: 20px;
    }
  
    main {
      margin: 40px 40px 0px 40px;
    }
  }
  

  footer {
    width: 100%;
    background-color: #000;
    height: 60px;
    line-height: 60px;
  }
  
  footer p {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
